@media(max-width: 600px){
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    li{
        background-color: #ddd;
        border: 2px solid #283;
    }

    p{
        color: #111;
        text-align: center;
        padding: 4px 0px;
    }

    .price{
        font-weight: bold;
    }
}